.chatBoxContainer {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(128, 128, 128, 0.801) 0 0 2.5em 0.1em;
    background-color: #fff;
    height: 65%;
    width: 30%;
    border-radius: 0.6em;
}

.messagesContainer {
    display: flex;
    flex-direction: column-reverse;
    padding: 1em;
    gap: 1em;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 12%;
}

.showChat{
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 4rem;
}